<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>CatedraPage</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</head>
<body>
<div class="container">
    <div class="row">
        <h1>Nume: &nbsp;</h1>
        <h1 th:text="${currentCatedra.nume}"></h1>
    </div>
    <div class="row">
        <h1>Corp: &nbsp;</h1>
        <h1 th:text="${currentCatedra.corp}"></h1>
    </div>
    <div class="row">
        <h1>Etaj: &nbsp;</h1>
        <h1 th:text="${currentCatedra.etaj}"></h1>
    </div>
    <div class="row">
        <h1>Titular: &nbsp;</h1>
        <h1 th:text="${currentCatedra.titular}"></h1>
    </div>
    <div class="row">
        <h1>Membri: </h1>
        <h1 th:text="${currentCatedra.membri}"></h1>
    </div>
    <div class="row">
        <button onclick=deleteCatedra()>Delete</button>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nume</th>
            <th scope="col">Prenume</th>
            <th scope="col">Varsta</th>
            <th scope="col">Specializare</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody id="profesoriTableForSpecificCatedra">
        </tbody>
    </table>
    <div class="input-group">
        <select class="custom-select" id="custom-select-catedra">
        </select>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" style="margin-left: 25px" onclick=addProfesorForCatedra()>Adauga profesor</button>
        </div>
    </div>
</div>
</body>
<style>
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }
    .table{
        width: 30%;
        margin-top: 100px;
    }
    .row{
        display: flex;
        flex-direction: row;
    }
    .input-group{
        width: 30%;
    }
</style>

<script type="text/javascript" th:src="@{/catedraPage.js}"></script>
<script th:inline="javascript">

    /*<![CDATA[*/
    let data = /*[[${currentCatedra}]]*/ "Test";
    console.log(specificCatedra(data.id));
    availableSpecificCatedra(data.id);
    /*]]>*/

    function addProfesorForCatedra() {
        let e = document.getElementById("custom-select-catedra");
        let pickedProfesor = e.options[e.selectedIndex].value;
        /*<![CDATA[*/
        let data = /*[[${currentCatedra}]]*/ "Test";
        fetch('http://localhost:8080/addProfesorCatedra?profesorId=' + pickedProfesor + '&catedraId=' + data.id, {method: 'post'}).then(t => {
            specificCatedra(data.id);
            availableSpecificCatedra(data.id);
        });
        /*]]>*/
    }

    function deleteSpecificProfesor(id){
        /*<![CDATA[*/
        let data = /*[[${currentCatedra}]]*/ "Test";
        fetch('http://localhost:8080/deleteProfesorCatedra?profesorId=' + id + '&catedraId=' + data.id, {method:'delete'}).then(t=>{
            specificCatedra(data.id);
            availableSpecificCatedra(data.id);
        });
        /*]]>*/
    }

    function deleteCatedra(){
        /*<![CDATA[*/
        let data = /*[[${currentCatedra}]]*/ "Test";
        fetch('http://localhost:8080/deleteCatedra/' + data.id,{method:'delete'}).then(t=>window.location.href='http://localhost:8080/');
        /*]]>*/

    }
</script>
</html>